h1 {
  text-align: center;
  font-family: Arial;
  font-size: 35px;
  color: purple;
}

h2{
  text-align:center;
  font-family: Arial;
  font-size: 35px;
  color: blue;
}

body {
  background-color: #99d6ff;
}

img {
  height: 400px;
  width: 400px;
  margin: 50px
}

p {
  font-family:Arial;
  font-size: 30px
}

.I-90 {
  text-align: left;
}

ul {
  font-family: Arial;
  font-style: oblique;
  font-weight: bold;
  color: #006666;
  margin: 50px;
}

li {
  padding: 25px;
}

.index_photo {
  width: 1000px;
  height: 600px;
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
